---
layout: default_page
title: Articles
---

<div id="content">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="empty_space_20"></div>
<div id="post">
    <p class="date">{{ post.date | date: "%Y | %b %-d" }}</p>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    <div id="readmore">
        <p><a title="continue reading" href="{{ post.url }}">continue reading.. </a></p>
    </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div id="post">
  {% if paginator.previous_page %}
  <h1><a class="continue" href="{{ paginator.previous_page_path | prepend: site.url}}">&larr;newer</a></h1>
  {% endif %}
  {% if paginator.next_page %}
  <h1><a class="continue" href="{{ paginator.next_page_path | prepend: site.url }}">older&rarr;</a></h1>
  {% endif %}
</div>

</div>  <!-- end content -->
