<section>
<header>
    <h2>Say Hi</h2>
</header>
<form action="" class="contact-form">
    <label for="name" class="contact-form__label"></label>
    <input type="text" class="contact-form__input" placeholder="Your name..">
    <label for="email" class="contact-form__label"></label>
    <input type="text" class="contact-form__input" placeholder="Your e-mail..">
    <label for="message" class="contact-form__label"></label>
    <input type="text" class="contact-form__input" placeholder="Your message..">
    <input type="submit" class="contact-form__input" value="Submit">
</form>
</section>