<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="Website of Christian Popa">
<meta name="author" content="Christian Popa">
<meta name="DC.title" content="Website of Christian Popa" />
<meta name="DC.subject" content="Website of Christian Popa" />
<meta name="DC.creator" content="Christian Popa"/>
<meta name="DC.rights" content="&#169; {{ 'now' | date: "%Y" }} Christian Popa | All Rights Reserved" />
<meta name="viewport" content="width=device-width"/>
<link rel="icon" type="image/png" href="/media/favicon.png" sizes="64x64" />
<link rel="stylesheet" href="/css/core.css">
<script>try{Typekit.load();}catch(e){}</script>
</head>
