<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="GitHub page of Christian Popa">
<meta name="author" content="Christian Popa">
<meta name="DC.title" content="GitHub page of Christian Popa" />
<meta name="DC.subject" content="GitHub page of Christian Popa" />
<meta name="DC.creator" content="Christian Popa"/>
<meta name="DC.rights" content="&copy {{ 'now' | date: "%Y" }} Christian Popa | All Rights Reserved" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="icon" type="image/png" href="{{ "/media/favicon.png" | prepend: site.url }}" sizes="32x32" />
<link rel="stylesheet" href="/css/core.css">
<script src="//use.typekit.net/kza0xzz.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
</head>
