<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <header>
    <div class="logo">
        <a href="{{ site.url }}">
            <img class="logo-img" src="{{ "/media/cplogo_new_1000px.png" | prepend: site.url }}" alt="logo-img">
        </a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
          {% for page in site.pages_list %}
            <li>
              <a href="{{ page[1]  | prepend: site.url }}">{{ page[0] }}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div id="container">
{{ content }}
</div> <!-- end of #container -->
{% include footer.html %}
</body>
</html>
